<%- include('./_head',{data:data}) %>
<body>

<header id="header" class="site-header">
	<div class="container">
		<div class="flex flex--row flex--j-center">
			<div class="flex__col">
				<div class="text--center">
					<h1 class="header__title text--b"><a href="<%- data['root'] %>">akatsuki-base</a></h1>
				</div>
				<div class="nav--center">
					<%- include('./_nav',{data:data}) %>
				</div>
			</div>
		</div>
	</div>
</header>