<%- include('./_head',{data:data}) %>
<body>

<header id="header" class="site-header">
	<div class="container">
		<div class="flex flex--row flex--a-center flex--j-between">
			<div class="flex__col">
				<h1 class="header__title text--b"><a href="<%- data['root'] %>">akatsuki-base</a></h1>
			</div>
			<div class="flex__col">
				<%- include('./_nav',{data:data}) %>
			</div>
		</div>
	</div>
</header>