<div class="h-nav<%= data['nav'] %>">
	<input id="h-nav__toggle" type="checkbox" name="h-nav__toggle" hidden>
	<label for="h-nav__toggle" class="h-nav__btn">
		<span class="hamburger">
			<span class="top"></span>
			<span class="middle"></span>
			<span class="bottom"></span>
		</span>
	</label>
	<nav class="h-nav__main">
		<ul>
			<li>
				<a href="/">HOME</a>
			</li>
			<li>
				<a href="/column.html">カラム</a>
			</li>
			<li class="has-child">
				<a href="/contents">コンテンツ</a>
				<ul>
					<li><a href="/contents">サイドバーなし</a></li>
					<li><a href="/contents/sidebar.html">サイドバーあり</a></li>
				</ul>
			</li>
			<li class="has-child">
				<a href="/archive">一覧ページ</a>
				<ul>
					<li><a href="/archive">一覧ページ - カード</a></li>
					<li><a href="/archive/list.html">一覧ページ - リスト</a></li>
				</ul>
			</li>
			<li class="has-child">
				<a href="/nav/">レスポンシブナビゲーション</a>
				<ul>
					<li><a href="/nav/center.html">中央寄せ</a></li>
					<li><a href="/nav/center.html">最後のメニューで長文にするとどうなるの？</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>