<%
include('../../data/_data');
let data = getData('sidebar');
%> <%-
include('../../template/_header',{data:data})
%>
<div class="has-sidebar">
	<div class="site-content">
		<div class="container">
			<div class="flex flex--row">
				<main class="flex__col content__main">
					<article>
						<header class="content__header">
							<h1 class="content__title">サイドバーあり</h1>
						</header>
						<div class="entry-content">
							<h2>2カラム表示サンプル</h2>
							<p>これは1カラム表示でのサンプルです。</p>
							<p>カラム幅は<code>848px</code>になります。</p>
							<p>デフォルトは1カラム表示で、オプションとしてサイドバーありを選択できます。</p>
							<p>サイドバーを表示する場合<code>body</code>タグなどに<code>.has-sidebar</code>クラスを付けてサイドバーありのレイアウトを有効にします。
							</p>
							<hr>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
							<p>追従サイドバー確認用に無駄にメインコンテンツを長くします</p>
						</div>
					</article>
				</main>
				<div class="sidebar">
					<div class="sidebar__main">
						<div class="sidebar__item">
							<h2>サイドバーアイテム</h2>
							<div class="sidebar__content">
								<p>サイドバーコンテンツ</p>
							</div>
						</div>
						<div class="sidebar__item">
							<h2>サイドバーアイテム</h2>
							<div class="sidebar__content">
								<p>サイドバーコンテンツ</p>
							</div>
						</div>
					</div>
					<div class="sidebar__fixed">
						<div class="sidebar__item">
							<h2>追従サイドバーアイテム</h2>
							<div class="sidebar__content">
								<p>追従するサイドバー</p>
								<p>IEなどでは追従されない恐れがあります。</p>
								<p>追従サイドバーは旧式ブラウザではサポートしない予定です。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../../template/_footer',{data:data}) %>